* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-shadow: 0px 4px 3px rgb(191, 58, 85,0.4), 0px 8px 13px rgb(191, 58, 85, 0.1), 0px 18px 23px rgb(191, 58, 85, 0.1);
}

h2 {
    font-size: 5rem;
    font-weight: bolder;
    padding: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background img*/ 
    background-image: url("https://images.pexels.com/photos/7296338/pexels-photo-7296338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto;
    background-color: rgb(82, 21, 84);
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%; 
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

.waiting {
    height: 50vh;
}